<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="me" href="https://twitter.com/1337core">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hacker Archive</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<!--


	Aus großer Macht folgt große Verantwortung! 


	-->
</head>

<body>
	<a href="/">Back</a>
	<div id="main">
		<h1>Hacker Archive</h1>
		<ul>
			{% for post in site.pages %}
			<li>
				<a href="/hacker-archive{{ page.url }}">{{ page.url }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</body>

</html>
