<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="me" href="https://twitter.com/1337core">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1337observer - Hacker Archive</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<!--


	Aus großer Macht folgt große Verantwortung! 


	-->
</head>

<body>
	<div id="main">
		<h1>1337observer</h1>
		<ul>
			{% for page in site.pages %}
				{% if page.url contains '/assets/' %}
				{% else %}
					<li>
						<a href="/{{ page.url }}">{{ page.url }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</body>

</html>
